*{
	margin:0px;
	padding: 0px;
}
body {
	height: 1000px;
}
header {
	/**position:relative;*/
	width: 100%;
	height: 200px;
	background-color: #090909;
}
.tete {
	position: absolute;
	width: 100%;
	height: 200px;
}
img{
	display: block;
	border-radius: 360px;
}
#Photo_Profil{
	display: block;
	width: 200px;
	float: left;	
	margin-left: 120px;
	margin-top: 50px;
}
#name {
	margin-top: 50px;
	width: 500px;
	margin-left: 35%;
	color: black;
}
h1 {
	color: #FEFEFE;
	text-decoration-line: overline;
}
.info_perso {
	display: block;
	float: right;
	margin-right: 50px;
	color: #FEFEFE;
	margin-top: 50px;	
}
section {
	
	height: 1000px;
	width: 100%;
}
.Formation {
	width: 50.3%;
	height: 1000px;
	float: left;
	background-color: #129A8C;
}
ul{
	margin-top: 50px;
	margin-left: 50px;
}
li {
	margin-top: 5px;
	margin-left: 25px;
}
p {
	font-weight: bolder;
}
h3 {
	font-size: normal;
}
.Experience{
   /**border:2px solid transparent;*/
   float: right;
   width: 49.4%;
   height: 300px;
   background-color: #D5A728;
   color: #010910;
   font-weight: bolder;
   border:2px solid;  
}
span{
	font-weight: bolder;
}
.Experience h3{
	font-weight: normal;
}
.Experience p {
	font-weight: normal;
}
.langue{
	width: 230px;
	background-color: #1061A8;
	float: left;
	height: 326px;
	color: #FEFEFE;
}
.langue ul{
	list-style-type: none;
}
.langue li {
	font-size: larger;
}
.Interet {
	width:440px;
	background-color: #1061A8;
	float: right;
	height: 326px;
	color: #FEFEFE;
}
.Interet ul{
	list-style-type: none;

}
.Interet li {
	margin-right: 15px;
}
.Editeurs {
	float: left;
	background-color: #0C3D87;
	height: 370px;
	width: 250px;
	color: #FEFEFE;
	font-weight: bolder;
}
#Presentation {
	width: 420px;
	float: right;
	height: 370px;
	background-color: #0C3D87;
	color: #FEFEFE;

}
#Presentation p{
	font-size: large;
}
#Presentation h2{
	text-decoration-line: underline;
}
.langue img {
	display: block;
	float: left;
}
#foot {
	height: 1000px;
}